ai-email-classifier.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ce21935-f2d4-487a-a6ae-3d09c53df7da",
              "name": "email_text",
              "value": "={{$json[\"subject\"] + \" \" + $json[\"textPlain\"]}}",
              "type": "string"
            },
            {
              "id": "6716f1e5-22d2-4311-a0a3-b8330bc69d8e",
              "name": "body",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "e1ccecea-1e34-4294-b13c-e2785979a55b",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "fbc3e6d3-108f-4bb8-9472-140e820870bb",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -432
      ],
      "id": "ef60ebd9-5b8a-4711-ab99-e1f91a765767",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email classifier. Only return ONE word from this list: Sales, Lead, Complaint, Spam, Internal.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.email_text.replace(/(\\r\\n|\\n|\\r)/gm, ' ') }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -736,
        -432
      ],
      "id": "fcdac2a5-3ca2-4c53-9485-15a15e088ced",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "RasmGwpEkt9NKjYk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9da1a617-e71f-40ff-98a2-09f95b0b256b",
              "name": "category",
              "value": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
              "type": "string"
            },
            {
              "id": "6b6041aa-2a42-442d-9a4d-5879e07d3842",
              "name": "id",
              "value": "={{ $('Edit Fields').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        -432
      ],
      "id": "4159515a-58ff-4d10-9e56-636af059e20d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34abc770-4622-4a14-8c9c-473070af4e28",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d7932fbc-d09e-408e-b98c-67d4d271acd8",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "51fae1d0-654a-4d9f-8830-4eac4ed9b5cd",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ee654b8-9d99-4f01-9b65-2095947b4094",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Job opportunity",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b9bd1fe-172e-441d-af20-eb5896038792",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Advertisement",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8b28135b-7e9f-419f-af47-d0101f38093f",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Internal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        -496
      ],
      "id": "156f72f5-b485-4c03-9ef4-9922babfdb32",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"id\"]}}",
        "labelIds": [
          "Label_7889008742653740756"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        -512
      ],
      "id": "8383ef8e-c9ed-4e64-92b9-c0fb8ee9d9ad",
      "name": "Add label to message",
      "webhookId": "3b812c8e-574b-4a2c-b629-50b52dd7e6b8",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"uid\"]}}",
        "labelIds": [
          "Label_6484469463975967350"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        -192
      ],
      "id": "8e115da7-ed7d-4e17-9bfd-e9dd92bf1ca2",
      "name": "Add label to message1",
      "webhookId": "3080ee19-0d6a-4d86-8b27-d9902b76f8a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"id\"]}}",
        "labelIds": [
          "Label_7790958383300005947"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -496
      ],
      "id": "d68ae0a3-b343-49f2-a266-f8a8488124b4",
      "name": "Add label to message2",
      "webhookId": "51766de8-8647-4b3b-ab4d-09f1caf51acb",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1040,
        -432
      ],
      "id": "5e2cb694-a808-4dcc-aa38-3f277807c9d4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"id\"]}}",
        "labelIds": [
          "Label_3377165439377234669"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        80,
        -368
      ],
      "id": "a8d773e5-ac82-44af-96bd-018f363bf78a",
      "name": "Add label to message3",
      "webhookId": "80bede72-d09d-4b7c-afd2-47d3f4bf7653",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"id\"]}}",
        "labelIds": [
          "Label_765001031950371675"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -144,
        -352
      ],
      "id": "ef8caee0-55e2-4037-8070-b4f8bdd6bdf8",
      "name": "Add label to message4",
      "webhookId": "03576de3-8aa1-4534-bd36-5e993916a909",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"id\"]}}",
        "labelIds": [
          "Label_7829130900183677969"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        -208
      ],
      "id": "912ff1ad-bb6a-4b2c-8c7f-717bda72ff05",
      "name": "Add label to message5",
      "webhookId": "4e675be7-30f5-42dd-b348-95c23ed9171d",
      "credentials": {
        "gmailOAuth2": {
          "id": "4mB19Ngm1dQsx4Ul",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eb8ff973-71fe-407c-8c72-342bb82492e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fc21660bff68e387e8882abcc6f72a0119fc16311cc74f0426809f7047606ec"
  },
  "id": "K6EgrYseqEU08XHF",
  "tags": []
}